body{
    margin-top:20px;

}
.home-5-bg {
    background: #6eb9d7;
    position: relative;
    background-size: cover;
    height: 50vh;
    background-position: center center;
}

/* Add overlay color */
.home-5-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 246, 223, 0.5); /* Adjust alpha value to control the opacity */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.section {
    position: relative;
    height: 100%;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.bg-overlay {
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-5-content {
    z-index: 1;
    position: relative;
}

.text-white-70 {
    color: rgba(179, 8, 232, 0.549);
}

.f-15 {
    font-size: 15px;
}

.home-5-bg #particles-js {
    z-index: 1!important;
position: absolute;
    width: 100%;
    height: 100%;
}