{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper p-4" data-aos="fade-up"
data-aos-delay="700">
  

     
      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Billing Dashboard</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab" >
          {% comment %} <div class="row"> {% endcomment %}
            {% comment %} <div class="row col-12 grid-margin">
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="row row-cols-1">
                  <div class="overflow-hidden d-slider1">
                    <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="700"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-01"
                              class="text-center circle-progress-01 circle-progress circle-progress-primary"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="90"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Total Sales</p>
                              <h4 class="counter">$560K</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="800"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-02"
                              class="text-center circle-progress-01 circle-progress circle-progress-info"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="80"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Total Profit</p>
                              <h4 class="counter">$185K</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="900"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-03"
                              class="text-center circle-progress-01 circle-progress circle-progress-primary"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="70"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Total Cost</p>
                              <h4 class="counter">$375K</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="1000"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-04"
                              class="text-center circle-progress-01 circle-progress circle-progress-info"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="60"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24px"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Revenue</p>
                              <h4 class="counter">$742K</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="1100"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-05"
                              class="text-center circle-progress-01 circle-progress circle-progress-primary"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="50"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24px"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Net Income</p>
                              <h4 class="counter">$150K</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="1200"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-06"
                              class="text-center circle-progress-01 circle-progress circle-progress-info"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="40"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Today</p>
                              <h4 class="counter">$4600</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li
                        class="swiper-slide card card-slide"
                        data-aos="fade-up"
                        data-aos-delay="1300"
                      >
                        <div class="card-body">
                          <div class="progress-widget">
                            <div
                              id="circle-progress-07"
                              class="text-center circle-progress-01 circle-progress circle-progress-primary"
                              data-min-value="0"
                              data-max-value="100"
                              data-value="30"
                              data-type="percent"
                            >
                              <svg
                                class="card-slie-arrow icon-24"
                                width="24"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  fill="currentColor"
                                  d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z"
                                />
                              </svg>
                            </div>
                            <div class="progress-detail">
                              <p class="mb-2">Members</p>
                              <h4 class="counter">11.2M</h4>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                  </div>
                </div>
              </div>

            
            <div class="col-12 grid-margin">
              <div class="card" data-aos="fade-up"
              data-aos-delay="700">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table" >
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </th>
                          <th>Client Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Dashboard</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Cash on delivered</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>App design</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Development</td>
                          <td>Online Payment</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% comment %} </div> {% endcomment %}
        </div>
        <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
          {% comment %} <div class="row"> {% endcomment %}
            <div class="row col-12 grid-margin">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-12 grid-margin">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </th>
                          <th>Client Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Dashboard</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Cash on delivered</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>App design</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Development</td>
                          <td>Online Payment</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% comment %} </div> {% endcomment %}
        </div>
        <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
          {% comment %} <div class="row"> {% endcomment %}
            <div class="row col-12 grid-margin">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-12 grid-margin">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$17.34</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$12.34</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </th>
                          <th>Client Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Dashboard</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Cash on delivered</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>App design</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Development</td>
                          <td>Online Payment</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% comment %} </div> {% endcomment %}
        </div>
      </div>
      <!-- End Bordered Tabs Justified -->
    </div>

{% endblock %}
