{% extends 'base.html' %}

{% block content %}
<div class=" container-xxl flex-grow-1 container-p-y">

     
      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
      </ul>
      <div class="tab-content " id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab"  >
          <div class="row">

            <div class="col-xxl-8 mb-6 order-0">
              <div class="card ">
                <div class="d-flex align-items-start row">
             
                    <div class="card-body">
                      <h4 class="card-title">Menu Items</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                <div class="form-check form-check-muted m-0">
                                  <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                                </div>
                              </th>
       
                              <th>Product Cost</th>
                              <th>Project</th>
                              <th>Payment Mode</th>
                              <th>Start Date</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-check form-check-muted m-0">
                                  <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                                </div>
                              </td>
                             
                            
                              <td>$14,500</td>
                              <td>Dashboard</td>
                              <td>Credit card</td>
                              <td>04 Dec 2019</td>
                             
                            </tr>
                            <tr>
                              <td>
                                <div class="form-check form-check-muted m-0">
                                  <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                                </div>
                              </td>
                              
                             
                              <td>$14,500</td>
                              <td>Website</td>
                              <td>Cash on delivered</td>
                              <td>04 Dec 2019</td>
                            
                            </tr>
                            <tr>
                              <td>
                                <div class="form-check form-check-muted m-0">
                                  <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                                </div>
                              </td>
                              
                             
                              <td>$14,500</td>
                              <td>App design</td>
                              <td>Credit card</td>
                              <td>04 Dec 2019</td>
                              
                            </tr>
                     
                          </tbody>
                        </table>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 order-1">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/chart-success.png"
                            alt="chart success"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Profit</p>
                      <h4 class="card-title mb-3">$12,628</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/wallet-info.png"
                            alt="wallet info"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Sales</p>
                      <h4 class="card-title mb-3">$4,679</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total Revenue -->
            <div class="col-12 col-xxl-8 order-2 order-md-3 order-xxl-2 mb-6">
              <div class="card">
                <div class="row row-bordered g-0">
                  <div class="col-lg-8">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Total Revenue</h5>
                      </div>
                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="totalRevenue"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                          <i class="bx bx-dots-vertical-rounded bx-lg text-muted"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalRevenue">
                          <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                          <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                          <a class="dropdown-item" href="javascript:void(0);">Share</a>
                        </div>
                      </div>
                    </div>
                    <div id="totalRevenueChart" class="px-3"></div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-center">
                    <div class="card-body px-xl-9">
                      <div class="text-center mb-6">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary">
                            <script>
                              document.write(new Date().getFullYear() - 1);
                            </script>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">2021</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">2020</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">2019</a></li>
                          </ul>
                        </div>
                      </div>

                      <div id="growthChart"></div>
                      <div class="text-center fw-medium my-6">62% Company Growth</div>

                      <div class="d-flex gap-3 justify-content-between">
                        <div class="d-flex">
                          <div class="avatar me-2">
                            <span class="avatar-initial rounded-2 bg-label-primary"
                              ><i class="bx bx-dollar bx-lg text-primary"></i
                            ></span>
                          </div>
                          <div class="d-flex flex-column">
                            <small>
                              <script>
                                document.write(new Date().getFullYear() - 1);
                              </script>
                            </small>
                            <h6 class="mb-0">$32.5k</h6>
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="avatar me-2">
                            <span class="avatar-initial rounded-2 bg-label-info"
                              ><i class="bx bx-wallet bx-lg text-info"></i
                            ></span>
                          </div>
                          <div class="d-flex flex-column">
                            <small>
                              <script>
                                document.write(new Date().getFullYear() - 2);
                              </script>
                            </small>
                            <h6 class="mb-0">$41.2k</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Total Revenue -->
            <div class="col-12 col-md-8 col-lg-12 col-xxl-4 order-3 order-md-2">
              <div class="row">
                <div class="col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/assets/img/icons/unicons/paypal.png" alt="paypal" class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt4"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Payments</p>
                      <h4 class="card-title mb-3">$2,456</h4>
                      <small class="text-danger fw-medium"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt1"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="cardOpt1">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Transactions</p>
                      <h4 class="card-title mb-3">$14,857</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column gap-10">
                        <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                          <div class="card-title mb-6">
                            <h5 class="text-nowrap mb-1">Profile Report</h5>
                            <span class="badge bg-label-warning">YEAR 2022</span>
                          </div>
                          <div class="mt-sm-auto">
                            <span class="text-success text-nowrap fw-medium"
                              ><i class="bx bx-up-arrow-alt"></i> 68.2%</span
                            >
                            <h4 class="mb-0">$84,686k</h4>
                          </div>
                        </div>
                        <div id="profileReportChart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">

            <div class="col-lg-4 col-md-4 " >
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/chart-success.png"
                            alt="chart success"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Profit</p>
                      <h4 class="card-title mb-3">$12,628</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/wallet-info.png"
                            alt="wallet info"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Sales</p>
                      <h4 class="card-title mb-3">$4,679</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 " >
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/chart-success.png"
                            alt="chart success"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Profit</p>
                      <h4 class="card-title mb-3">$12,628</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/wallet-info.png"
                            alt="wallet info"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Sales</p>
                      <h4 class="card-title mb-3">$4,679</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 ">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </th>
                          <th>Client Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Dashboard</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Cash on delivered</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>App design</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Development</td>
                          <td>Online Payment</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">

            <div class="col-lg-4 col-md-4 " >
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/chart-success.png"
                            alt="chart success"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Profit</p>
                      <h4 class="card-title mb-3">$12,628</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/wallet-info.png"
                            alt="wallet info"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Sales</p>
                      <h4 class="card-title mb-3">$4,679</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 " >
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/chart-success.png"
                            alt="chart success"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Profit</p>
                      <h4 class="card-title mb-3">$12,628</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-6">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between mb-4">
                        <div class="avatar flex-shrink-0">
                          <img
                            src="/static/assets/img/icons/unicons/wallet-info.png"
                            alt="wallet info"
                            class="rounded" />
                        </div>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded text-muted"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                          </div>
                        </div>
                      </div>
                      <p class="mb-1">Sales</p>
                      <h4 class="card-title mb-3">$4,679</h4>
                      <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 ">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </th>
                          <th>Client Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Dashboard</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Cash on delivered</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>App design</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Development</td>
                          <td>Online Payment</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label"><input type="checkbox" class="form-check-input" /></label>
                            </div>
                          </td>
                          <td>
                            <img src="/static/assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td>02312</td>
                          <td>$14,500</td>
                          <td>Website</td>
                          <td>Credit card</td>
                          <td>04 Dec 2019</td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Bordered Tabs Justified -->
    </div>

{% endblock %}
